.movieDetails {
  position: relative;
  align-items: center;
  justify-content: center;
  max-width: 750px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
}

img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 8px 8px white inset;
  border-radius: 30px;
  object-fit: contain;
  width: 95%;
  height: 95%;
}

.text {
  color: rgb(245, 239, 239);
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 8px 0px 8px 16px;
  height: 60px;
}

.movieDetails button {
  bottom: -100%;
  left: 45%;
  position: absolute;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50%;
  padding: 0.5rem;
}

button:hover {
  background-color: #e20d0d;
  border-color: #e20d0d;
}

.favorite {
 
  bottom: -90%;
  left: 46%;
  position: absolute;
 
  color: rgb(0, 0, 0);

  

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50%;
 

  background-color: #18f347;


}

