* {
  box-sizing: border-box;
  font-family: 'Bowlby One SC', cursive;
  margin: 0;
  background-color: black;
  
}

/* .home, .report, .product {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
} */