.concept {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-radius: 30px;
  margin-bottom: 1rem;
  max-width: 750px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.concept:hover {
  transform: translateY(-2px);
  transition: transform 0.2s;
  box-shadow: 0 2px 30px rgba(234, 78, 240, 0.4);
}

.concept img {
  box-shadow: 0 0 8px 8px white inset;
  border-radius: 25px;
  object-fit: contain;
  padding: 0.5px;
  width: 100%;
  height: 100%;
}

.concept h2 {
  margin: flex;
  position: relative;
  text-transform: uppercase;
}

.concept p {
  position: relative;
  text-align: flex;
}

.text-overlay {
  position: relative;
  color: white;
  font-size: 120%;
  text-align: center;
  width: 90%;
}
